<section class="login-form">
  <form #loginForm=ngForm
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
  (ngSubmit)="onSubmit()">
    <h2>Login</h2>
    <div class="alert alert-danger" [hidden]="!error">
      {{error}}
    </div>
    <mat-form-field>
      <input
        type="email"
        matInput
        name="email"
        placeholder="Your email"
        [(ngModel)]="form.email"
        required>
      <mat-hint>Please enter a valid email</mat-hint>
      <mat-error>Invalid or missing email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        name="password"
        placeholder="Your password"
        [(ngModel)]="form.password"
        required>
      <mat-hint>Please enter a password</mat-hint>
      <mat-error>Missing password</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Submit</button>
    <small class="float-right">
      <a routerLink="/request-password-reset">Reset Password</a>
    </small>
  </form>
</section>
