<div class="container">
  <section class="articles">
    <h1>Article Management</h1>
    <div>
      <button mat-raised-button (click)="newArticle()">New</button>
      <table border='1' width='100%' style='border-collapse: collapse;'>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Body</th>
          <th>Date</th>
        </tr>
        <tr *ngFor="let article of articles.data">
          <td>{{ article.id }}</td>
          <td>{{ article.title }}</td>
          <td>{{ article.body }}</td>
          <td>
            <button (click)="deleteArticle(article.id)">Delete</button>
            <button mat-raised-button (click)="openDialog(article)">Edit</button>
          </td>
        </tr>
      </table>

<!--      <br>-->
<!--      <form #f = "ngForm">-->
<!--        <label>Title</label>-->
<!--        <input type="text" name="title" [(ngModel)] = "selectedArticle.title">-->
<!--        <br>-->
<!--        <label>Body</label>-->
<!--        <input type="text" name="body" [(ngModel)] = "selectedArticle.body">-->
<!--        <br>-->
<!--        <input type="button" (click)="createOrUpdateArticle(f)" value="Create or Update Article">-->
<!--      </form>-->
    </div>
  </section>
</div>
