<h3>Update Article</h3>
<form #f="ngForm">
  <mat-form-field class="example-full-width">
    <input matInput name="title" [(ngModel)]="data.title" placeholder="Title">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput name="body" [(ngModel)]="data.body" placeholder="Body">
  </mat-form-field>
  <button mat-raised-button (click)="createOrUpdateArticle(f, selectedArticle)">Create or update</button>
  <button mat-raised-button (click)="closeDialog()">Cancel</button>
</form>
