/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
html, body {
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
}

body {
  margin: 0px;
}
